.login {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgb(0,213,249);
    background: linear-gradient(90deg, rgba(0,213,249,1) 0%, rgba(55,239,205,1) 35%, rgba(249,248,113,1) 100%);
}